.contact-page {
    margin: 5%;
    padding: 2%;
    /* The core glass blur effect */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */

    /* Soft border representing light catching the glass edge */
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* Smooth corners look best with glass */
    border-radius: 16px;

    /* Adds depth and shadows underneath the pane */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    min-height: 85vh;
}

.contact-section {
    margin-top: 48px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
}

.contact-link{
    text-decoration: none;
    color: rgb(247, 235, 246);
}

.contact-link:visited{
    color: rgb(247, 235, 246);
}

.contact-us{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.map-container {
    border-radius: 10px;
    box-shadow: 0 0 35px 0 rgba(210, 227, 238, 0.699);
}

iframe {
    margin: 0;
    padding: 0;
    height: 220px;
    border: none;
    border-radius: 10px;
}
