.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.copyright {
    margin-bottom: 4px;
}

@media (max-width: 750px) {
    .footer {
        font-size: 10px;
    }
}