body {
  margin: 0;
  background-image: url('../images/background/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-image: linear-gradient(45deg, rgb(128, 37, 87), rgb(207, 171, 191), rgb(165, 35, 106));*/
  color: rgb(247, 235, 246);
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
    font-weight: 500;
    font-size:larger;
    letter-spacing: -0.05em;
    line-height: 0.7;
    text-wrap: balance;
    text-transform: uppercase;
}

:visited{
  color: rgb(243, 221, 242);
}

@keyframes animationBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}