.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.full-name {
    text-wrap: nowrap;
    text-decoration: none;
}

.job-title {
    place-self: end;
    font-style: italic;
    font-size: 14px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-icon {
    width: 42px;
    animation: spin 4s linear infinite;
}

.brand-container {
    gap: 17px;
}

.brand-container,
.menu-bar {
    display: flex;
    flex: 1;
    align-items: center;
}
