.menu-bar {
    justify-content: space-around;
    font-size: 19px;
}

.menu-bar-icons{
    display: none;
    align-items: end;
    justify-content: end;
    gap: 16px;
}

.menu-icons{
    width: 27px;
}

.navigation-link {
    letter-spacing: -0.02em;
    line-height: 0.7;
    text-decoration: none;
    text-align: end;
    transition: transform 0.2s ease;
      text-decoration: underline;
    text-underline-offset: 4px;
}

.navigation-link:hover {
    color: rgb(96, 160, 233);
    transform: scale(1.03);
}

@media (max-width: 750px) {
   
    .menu-bar{
        display: none;
    }
    .menu-bar-icons {
        display: flex;
        z-index: 100;
    }

}