.home-top-section-second{
    margin-top: 64px;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    gap: 56px;
}

.home-advantages-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: larger;
    max-width: 400px;
}

.advantages-title {
    padding: 1% 0;
    font-size: large;
    font-weight: 500;
    color: rgb(46, 1, 44);
    width: 50%;
    border: solid 1px rgb(158, 166, 236);
    border-radius: 50px;
    /*background-image: linear-gradient(to right, rgb(231, 229, 230), rgb(161, 117, 142), rgb(134, 88, 113), rgb(165, 35, 106));*/
    background-image: linear-gradient(to right, rgb(252, 230, 241), rgb(90, 129, 160));
    background-size: 150% 150%;
    animation: animationBg 7s linear infinite;
    transition: transform 0.3s ease;
}
 
.advantages-title:hover {
    /*border-color: rgb(248, 177, 220);*/
    color: aliceblue;
    border-color: rgb(213, 217, 253);
    transform: scale(1.03);
}

.advantages-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.advantages {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: transform 0.3s ease;
}

.advantages:hover {
    color: rgb(243, 189, 222);
    transform: scale(1.04);
}


.message-link-advantages {
    font-size: large;
    color: rgb(170, 189, 231);
    text-decoration: none;
    margin-left: auto;
    margin-right: 35%;
    cursor: pointer;
}

.message-link-advantages:hover {
    text-decoration: underline;
    color: rgb(56, 93, 172);
}

.message-link-advantages:visited {
    color: rgb(162, 174, 199);
}

.three-d-image-model{
    margin-top: -2%;
    transform: scaleX(-1);
    opacity: 0.7;
    max-width: 400px;
    overflow: hidden;
}
